/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(11, 183, 237);
  --ifm-color-primary-dark: rgb(41, 107, 175);
  --ifm-color-primary-darker: rgb(27, 70, 153);
  --ifm-color-primary-darkest: rgb(20, 46, 138);
  --ifm-color-primary-light: rgb(63, 138, 208);
  --ifm-color-primary-lighter: rgb(112, 234, 246);
  --ifm-color-primary-lightest: rgb(255, 255, 255);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("/img/github-mark.png");
  background-repeat: no-repeat;
  background-size: cover
}

html[data-theme='dark'] .header-github-link:before {
  background-image: url("/img/github-mark-light.png");
}
